@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas { 
  outline: none; 
  border: none; 
}

#loader {
  font-family: 'DM Mono', monospace;
  font-size: 48pt;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}

#model-info {
  display: none;
  font-family: 'DM Mono', monospace;
  font-size: 11pt;
  position: absolute;
	color: white;
	border: 1.5px dashed #6aeaff;
	width: 500px;
	bottom: 20px;
	right: 20px;
  padding: 16px;
  line-height: 14pt;
  background: rgba(0, 0, 0, 0.6);
}

p {
  margin: 0;
}

button {
  font-family: 'DM Mono', monospace;
  position: absolute;
  border: 1px solid #6aeaff;
  padding: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}

button:hover {
  cursor: pointer;
  background: rgba(106, 234, 255, 1.0);
  color: black;
}

button.selected {
  background: rgba(106, 234, 255, 1.0);
  color: black;
}

button:focus {
  outline: 0;
}

#bark-beetle-btn {
  display: none;
	right: 20px;
	top: 20px;
}

#seed-car-btn {
  display: none;
	top: 20px;
  right: 172px;
}